
/*******************************
** CUSTOM CSS **
*******************************/

body {
    background-color: #222;
    padding-bottom:10px;
    }

h1 {
    font-family: 'lato', !important; 
    font-weight: 100;
    font-size: 80px;
    color: #CDCEB !important;
    -webkit-font-smoothing: antialiased;
    }

h2 {
    font-family: 'bebas-neue', sans-serif !important; 
    font-weight: 100; 
    font-size: 50px !important;
    text-align: left;
    color: #CCDCEB;
    -webkit-font-smoothing: antialiased;
    }
h3 {
    font-family: 'lato', sans-serif !important;
    font-weight: 300;
    font-size: 30px;
    color: #CCDCEB;
    -webkit-font-smoothing: antialiased;
    }
p {
    font-family: 'Lato', sans-serif !important;
    font-weight: 100;
    font-size: 24px !important;
    color: #CCDCEB;
    font: 100%;
    -webkit-font-smoothing: antialiased;
    } 
p a{
    font-family: 'Lato', sans-serif !important;
    font-weight: 400;
    font-size: 24px !important;
    color: #CCDCEB;
    font: 100%;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    }
p a:hover{
    font-family: 'Lato', sans-serif !important;
    font-weight: 400;
    font-size: 24px !important;
    color: #ec2327;
    font: 100%;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    }


/*******************************
** Header **
*******************************/ 

.top-div
{
    background-color: #222;
    height: 100vh;
    padding-top: 10%;
}

.clear-logo h1{
    background-position: 50% 50%;
    height: 100%;
    width: 100%;
    margin-top: -50%;
    font-size: 60px;
    text-align: center;
    color: #ec2327;
    border:none; 
    position:relative;

} 

.biglogo {
    background-image: url("../img/biglogo.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100%;
    width: 100%;
    margin-top:10%;
    margin-bottom:0%;
    height: 300px;    
    z-index: 333;
    position: relative;
}
/*******************************
** NAV **
*******************************/

.navlogo {
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    bottom: 10px;
    left: 60px;
    width: 77px;
    height: 40px;    
    z-index: 8888;
    position: fixed;
} 

.nav {
    width: auto;
    background-color: #222; 

}

.navbar .nav li a:hover {
    color: #ec2327;
    font-family: 'bebas-neue', sans-serif !important;
    font-size: 28px;
    -webkit-font-smoothing: antialiased;
}
.navbar .nav li {
    color: #ec2327; 
    font-family: 'bebas-neue', sans-serif !important;
    font-size: 28px;
    -webkit-font-smoothing: antialiased;

}
.navbar {
    background-color: #222;
    border-color: #3e454d;
}

.navbar-collapse {
    background-color: #222;
    border-color: #222;
    text-align: right;
    z-index: 9999;

}

.navbar-toggle {
    background-color: #222;
    border:none;
    text-align: center;
} 

.navbar-inverse .navbar-toggle:focus {
    background-color: #222;
    border:none; 
}

.navbar-inverse .navbar-toggle:hover {
    background-color: #222;
    border:none; 
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #ec2327;
    border:none; 
    width: 30px;
    height: 4px;
}
/****************************** 
** SIDE LINKS **
******************************/

.side-link-container 
{
    max-width: 960px;
    margin: 0 auto;
}


.side-links {
    background-color: #1a1a1a;
    width: 40px; 
    color: #DADFE1;
    font-size: 20px;
    position:relative;
    top: 340px;
    left: -40px;
    z-index:111;
    padding-right: 0px;
    padding-left: 0px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
}

.side-links li a:hover{
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    background-color: #1a1a1a;
    opacity: 0.8;
    cursor:pointer;
}


/**.side-links-2 {

    width: 10; 
    height: 40px;
    font-size: 20px;
    position:fixed;
    bottom: 1px;
    left: 0px;
    z-index:5555;
    

    padding-left: 60px;

}

.side-links-2 li a:hover{


    opacity: 0.8;
    cursor:pointer;
}**/

/*******************************
** FONT AWESOME **
*******************************/

.fa:hover 
{ 
    color: #ec2327 !important; 
}

/*******************************
** MAIN STRUCTURE **
*******************************/

.container 
{
    max-width: 960px;
    margin: 0 auto;
}

/** thumbnails **/
.thumbnail{
    width: 200px;
    height: 100%;
    background-color: #222;
    opacity: 0.5;
    border: none;
}
.thumbnail:hover 
{
    width: 200px;
    height: 100%;
    /**background-color: #ec2327; **/
    opacity: 1;
    border: none;
}



/*** thumb image overlay **/


.featurette:last-child
{
margin-bottom: 200px;
}
.featurette
    {
    background-color: #1a1a1a;
    padding-top: 1px;
    padding-bottom: 40px;
    padding-left: 0px;

    }
.featurette-divider
    {
    padding: 20px;
    border-color:#ec2327;
    }
.featurette-image
    {
    margin-top: 20px;
    }
.btn 
    {
    color: #DDD;
    background-color: #333; 
    border: 0px;
    }

.btn:hover
{
    background-color: #6C7A89;  
}

.x-bttn
{
    color: #CCDCEB !important;
    position: relative;
    top:8px;
    right:-96%;
    cursor:pointer;
    height: 100%;
    width: 24px;
    z-index: 111;
}
.x-bttn a
{
    color: #fff !important;
}

.catalog-header
{
    margin-top: 100px;
    margin-bottom:500px;
    height: 700px;
    z-index: 6666;

}

/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:center;
    /* inline-block space fix */
    margin-right:-4px;
}

/*******************************
** SECTIONS **
*******************************/

section.module:last-child {
    margin-top: 1px;
    height: 100vh;
    margin-bottom: 200px;
}

section.module h2 
    {
    margin-bottom: 40px;
    }

section.module p {
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 300;
}

section.module p:last-child {
    margin-bottom: 40;
}

section.module.content {
    background-color: #222;
    height: 100vh;
    padding-top: 30px;
    padding-right: 0px; 
    padding-bottom: 40px;
    padding-left: 0px; 
}

section.module.parallax {
    height: 600px;
    background-position: 50% 50%; 
    background-repeat: no-repeat;
    background-attachment:relative;
}

section.module.parallax h1 {
    color: rgba(255, 255, 255, 0.8);
    font-size: 48px;
    line-height: 600px;
    font-weight: 700;
    text-align: right;
    /** text-transform: uppercase; 
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2); **/
}

/*******************************
** IMAGE MODULES **
*******************************/

section.module.parallax-1 {
    background-image: url(../img/undertow.png);
    background-position: 50% 50%;
    background-size: 100%;
    position: relative;   
    top:0px;

}

section.module.parallax-2 {
    background-image: url(../img/2.jpg);
    background-size:100%;
    background-position: 50% 50%;  
    position: relative;

}

section.module.parallax-3 {
    background-image: url(../img/3.jpg);
    background-size:100%;
    background-position: 50% 50%;
    position: relative;
}

section.module.parallax-4 {
    background-image: url(../img/4.jpg);
    background-position: 50% 50%;
    background-size:100%;
    position: relative;
}

section.module.parallax-5 {
    background-image: url(../img/5.jpg);
    background-size:100%;
    background-position: 50% 50%;
    position: relative;
}

section.module.parallax-6 {
    background-image: url(../img/6.jpg);
    background-size:cover;
    background-position: 50% 50%;
    position: relative;
}

section.module.parallax-7 {
    background-image: url(../img/7.jpg);
    background-size:cover;
    background-position: 50% 50%;
    position: relative;
}

section.module.parallax-8 {
    background-image: url(../img/8.jpg);
    background-size:cover;
    background-position: 50% 50%;
    position: relative;
}

.last-module
{
    padding-top: 30vh;
    height: 100vh;
}
/****FOOTER ***/

.footer
{
    width: auto;
padding-left: 2%;

margin-bottom: 60px;
}
.footer p
{
font-size:18px !important;
}



/*******************************
** MEDIA QRS **
*******************************/

/** VERTICAL DISPLAY ONLY **/

@media only screen 
    and (max-width: 400px)
{
    .clear-logo h1
    {
        display:;
    }

    .x-bttn
    {
    top:30px;
    right: -86%;
    }
.featurette-image
    {
    padding-left: 20px;
    
    }
}

/** SMART PHONES **/

@media only screen 
    and (min-device-width: 320px) 
    and (max-width: 480px)
{ 

    .navlogo {
        background-image: url("../img/ee-logo.png");
        background-repeat: no-repeat;
        bottom: 0px;
        left: 2%;
        width: 50px;
        height: 50px;
        display: block;
        z-index: 8888888;
        position: fixed;
    }
    .side-links
    {
        display: none;
    }
    /** thumbnails **/

    .thumbnail{
        width: 100%;
        height: 100%;
        background-color: #222;
        border: none;
    }
    .thumbnail:hover 
    {
        width: 100%; 
        height: 100%;

        opacity: 1;
        border: 0px;
    }
    .clear-logo h1
    {
       display:;
    }

 /**   .biglogo
    {
        background-position: 50% 50%;
        margin-top:40%;
        height: 100vh;
    } **/
    
    .catalog-header
    {

    }
}



/** 600 **/

@media all and (max-width: 600px) 
{

   
    
}

/** NAV COLLAPSE BREAKPOINT **/

@media all and (max-width: 760px)
{

/**.top-div
    {
    display: block;
    }
    section.module.content
    {
    height: 100%;
    }  **/
    .clear-logo h1{
        display: ;

    }
}


/** 960 **/

@media all and (min-width: 960px) 
{    

}

/**************** 
** iPAD RETINA **
****************/

@media only screen 
    and (min-device-width : 768px) 
    and (max-device-width : 1024px) 
    and (-webkit-min-device-pixel-ratio: 2)
{   

} 

/**************** 
** iPAD PORTRAIT 
**& LANDSCAPE **
****************/

@media only screen 
    and (min-device-width : 768px) 
    and (max-device-width : 1024px)  
{ 
    /** STYLES **/
}

/**************** 
** iPAD LANDSCAPE
****************/

@media only screen 
    and (min-device-width : 768px) 
    and (max-device-width : 1024px) 
    and (orientation : landscape)
{    

}

/**************** 
** iPAD PORTRAIT
****************/

@media only screen 
    and (min-device-width : 768px) 
    and (max-device-width : 1024px) 
    and (orientation : portrait)
{ 
    .clear-logo h1
    {
display: none;
    }
}

/*-- iPhone 4, 4S, iPod Touch 4Gen--*/
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-device-width:960px) 
{
   /** section.module.parallax 
    {
        background-size: cover;
    }  **/      
}

/*-- iPhone 5, iPod Touch 5Gen--*/
@media only screen 
    and (-webkit-min-device-pixel-ratio: 2) 
    and (max-device-width:1136px)
    and (min-device-width : 320px) 
    and (max-device-width : 568px) 
    and (orientation : landsape)
{ 
    .side-links
    {
        display: none;
    }
    /** thumbnails **/

    .thumbnail{
        width: 100%;
        height: 100%;
        background-color: #222;
        border: none;
    }
    .thumbnail:hover 
    {
        width: 100%; 
        height: 100%;

        opacity: 1;
        border: 0px;
    }
    .clear-logo h1
    {
        
    }
    .x-bttn
    {
        display: none;
    }
   
    /**.biglogo
    {
        background-position: 50% 50%;
        top:10px;
        height: 180px;
       
    } **/
    .catalog-header
    {
        display: ;
    }



}

/** END **/
