body {
    background-color:dodgerblue;
   color:ghostwhite;
}
a{
    color:dimgray;
}
a:hover{
    color:ghostwhite;
}
.nav-link{
    /**font-size: 1.6rem; **/
}
.mnublk {
    color:black;
}

h1 {
    font-family: 'Teko', sans-serif;
    color:ghostwhite;
    font-size: 3rem;
    font-weight: 700;
}


/** FULLSCREEN OVERLAY NAV **/
.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 15%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 1.8rem;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.closebtn {
    position: absolute;
    top: 10%;
    right: 10%;
   font-size: 60px !important;
}

@media screen and (max-height: 450px) {
    .overlay {overflow-y: auto;}
    .overlay a {font-size: 20px}
    .closebtn {
        /**font-size: 40px; **/ !important;
        top: 15px;
        right: 35px;
    }
}


/** Jumbotron **/
.jumbotron {
    background: url("../img/wicked-960-2.jpg") center center no-repeat;
    height:100vh;
    width:100%;
    background-size:cover;
    position:relative;
    color: ghostwhite;
    padding: 0;
    margin: 0px;
}
@media screen and (min-width: 544px) {
    .jumbotron {
        background: url("../img/wicked-960-2.jpg") center center no-repeat;
        height:100vh;
        width:100%;
        background-size:cover;
        position:relative;
        color: ghostwhite;
        padding: 0;
    }
}
/** Jumbotron **/



/** Call To Action **/
.call2action {
    position: relative;
    margin-top: 50vh;

}

@media screen and (min-width: 450px) {
.call2action{
    display:block;
    float: right;

    }
}
/** Call To Action **/

.container-fluid{
    height: auto;


}
@media screen and (min-width: 450px) {
    .container-fluid{
        height: 100vh;


    }
}
.content {

    background-image: url(../img/6s-Plus-Horiz.jpg)
    center center no-repeat;
    height:100vh;
    width:100%;
    background-size:cover;
    position:relative;
    color: ghostwhite;
}
.m-a-0 {
    margin: 0 !important;
}
